numpy >= 1.26.4
scipy >=1.14.1
seaborn >= 0.13.2
matplotlib >= 3.9.2
neo >= 0.13.3
ipympl >= 0.9.4
ipykernel >= 6.29.5 
tqdm >= 4.66.5
scikit-learn >= 1.5.2 
scikit-image>=0.25.0 
PyWavelets>=1.8.0
statsmodels>=0.14.4 
torch 
tensorly 
